<div class="row justify-content-center">

    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-linkedin">
                <span class="s-icon"><i class="fa fa-linkedin"></i></span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.l1</h4>
                        <p class="m-0">Connections</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.l2</h4>
                        <p class="m-0">Followers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-instagram">
                <span class="s-icon">İnstagram<i class="fa fa-instagram"></i></span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.instagram1</h4>
                        <p class="m-0">Followers</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.instagram2</h4>
                        <p class="m-0">Followings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-twitter">
                <span class="s-icon"><i class="fa fa-twitter"></i></span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.x1</h4>
                        <p class="m-0">Followers</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.x2</h4>
                        <p class="m-0">Followings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
